@font-face {
  font-family: "Free Serif";
  src: url("fonts/FreeSerif.eot");
  src:
  url("fonts/FreeSerif.woff") format("woff"),
  url("fonts/FreeSerif.otf") format("opentype"),
  url("fonts/FreeSerif.svg#filename") format("svg");
}

@font-face {
  font-family: "Free Serif Italic";
  src: url("fonts/FreeSerifItalic.eot");
  src:
  url("fonts/FreeSerifItalic.woff") format("woff"),
  url("fonts/FreeSerifItalic.otf") format("opentype"),
  url("fonts/FreeSerifItalic.svg#filename") format("svg");
}

body {  
  font-family: 'Free Serif', Arial, sans-serif;  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;  
  font-size: 18px;
  background-color: #1A272A;
}

@media only screen and (max-device-width: 480px) {
  /* Bigger fonts on mobile */

  body {
    font-size: 24px;
  }

  h1 {    
    font-size: 130px; 
  }

  h3 {
    font-size: 33px;
  }
}

canvas {  
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;  
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;  
}

.container {
  z-index: 0;
  color: white;    
  max-width: 1280px;  
  padding-left: 20px;
  padding-right: 20px;
}

.left {
  margin-bottom: 50px;
}

.middle {
  margin-bottom: 50px;
}

.right {
  margin-bottom: 50px;
}

h1 {
  font-family: 'Free Serif Italic', Arial, sans-serif;
  font-size: 100px;    
  letter-spacing: 5px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Free Serif Italic', Arial, sans-serif;  
  font-size: 25px;  
}

.italic {
  font-family: 'Free Serif Italic', Arial, sans-serif;
}

.col-content {  
  padding-left: 10px;
}

.intention {
  max-width: 610px;
}

.bio {
  padding-right: 10px;
}

.release {
  max-width: 235px;
}

.release-year {
  font-family: 'Free Serif Italic', Arial, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, .7);
  padding-top: 3px;
}

@media only screen and (max-device-width: 480px) {
  .release-year {
    font-size: 21px;
  }
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: white;
}

.footer {
  margin-top: 80px;  
  text-align: center;
}

.sm-icon {
  margin-left: 6px;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  fill:rgb(200, 200, 200);
}

.sm-email {
  width: 22px;
  height: 22px;
}

.sm-icon:hover {
  fill: white;
}

a.icon {
  text-decoration: none;
}

/* Mailchimp overrides */

#mc_embed_signup {
  font-family: 'Free Serif', Arial, sans-serif;
}

#mc_embed_signup form {
  padding-top: 0px;
  padding-left: 0px;
}

#mc_embed_signup #mce-success-response {
  color: white;
}

#mc_embed_signup div.response {
  padding: 0;
  font-weight: normal;
  margin-top: 0;
}

#mc_embed_signup div#mce-responses {
  padding: 0;
  margin: 0;
}

#mc_embed_signup .mc-field-group {  
  padding-bottom: 0;
}

#mc_embed_signup .mc-field-group input {
  line-height: 18px;
  width: 100%;
  max-width: 270px;
  margin-top: 10px;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  margin: .5rem 0 .5rem 0;
}

#mc_embed_signup #mce-success-response {
  margin-top: 0;
}
